#torch==1.4.0+cpu
#torchtext==0.6.0
#torchvision==0.5.0+cpu
# CUDA 10.1
# pip install torch==1.4.0 torchvision==0.5.0
# CPU only
# pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
# tensorflow==1.13.1
# tensorflow-estimator==1.13.0
# install apex
# git clone https://github.com/NVIDIA/apex
# cd apex
# pip install -v --disable-pip-version-check --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" ./
absl-py==0.9.0
altgraph==0.17
aniso8601==8.0.0
astor==0.8.1
boto3==1.12.20
botocore==1.15.20
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cycler==0.10.0
dataclasses==0.7
docutils==0.15.2
filelock==3.0.12
Flask==1.1.1
Flask-RESTful==0.3.8
future==0.18.2
gast==0.3.3
grpcio==1.27.2
h5py==2.10.0
idna==2.9
itsdangerous==1.1.0
# Jinja2==2.11.1
jinja2>=2.11.3
jmespath==0.9.5
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mock==4.0.2
#nltk==3.5
nltk>=3.6.6
numpy==1.18.1
pandas==1.0.3
pefile==2019.4.18
#Pillow==7.0.0
Pillow>=9.0.0
protobuf>=3.15.0
PyInstaller==3.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
regex==2020.2.20
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.38
scikit-learn==0.22.2.post1
scipy==1.4.1
selenium==3.141.0
sentencepiece==0.1.85
six==1.14.0
tensorboard==1.13.1
tensorboardX==2.0
termcolor==1.1.0
tokenizers==0.5.2
tqdm==4.43.0
transformers==2.8.0
tweet-preprocessor==0.5.0
# urllib3==1.25.8
urllib3>=1.26.5
Werkzeug==1.0.0
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
